<ion-fab *ngIf="type === 'center'" vertical="center" horizontal="center" slot="fixed">
	<ion-fab-button style="--background:#212121" (click)="menu()">
		<mat-icon>menu</mat-icon>
	</ion-fab-button>
	<ion-fab-list side="top">
		<ion-fab-button (click)="reset(); menuLeave();">
			<mat-icon>refresh</mat-icon>
		</ion-fab-button>
	</ion-fab-list>
	<ion-fab-list side="bottom">
		<ion-fab-button routerLink="/">
			<mat-icon>home</mat-icon>
		</ion-fab-button>
	</ion-fab-list>
	<ion-fab-list side="start">
		<ion-fab-button (click)="displayDices(); menuLeave();">
			<mat-icon>token</mat-icon>
		</ion-fab-button>
	</ion-fab-list>
	<ion-fab-list side="end">
		<ion-fab-button (click)="openColorMenu(); menuLeave();">
			<mat-icon>color_lens</mat-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>
<ion-fab *ngIf="type === 'vertical-top'" vertical="top" horizontal="start" slot="fixed">
	<ion-fab-button style="--background:#212121" (click)="menu()">
		<mat-icon>arrow_forward_ios</mat-icon>
	</ion-fab-button>
	<ion-fab-list side="end">
		<ion-fab-button (click)="reset(); menuLeave();">
			<mat-icon>refresh</mat-icon>
		</ion-fab-button>
		<ion-fab-button routerLink="/">
			<mat-icon>home</mat-icon>
		</ion-fab-button>
		<ion-fab-button (click)="displayDices(); menuLeave();">
			<mat-icon>token</mat-icon>
		</ion-fab-button>
		<ion-fab-button (click)="openColorMenu(); menuLeave();">
			<mat-icon>color_lens</mat-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>
<ion-fab *ngIf="type === 'horizontal-top'" vertical="top" horizontal="end" slot="fixed">
	<ion-fab-button style="--background:#212121" (click)="menu()">
		<mat-icon class="horizontal-icon">arrow_forward_ios</mat-icon>
	</ion-fab-button>
	<ion-fab-list side="bottom">
		<ion-fab-button (click)="reset(); menuLeave();">
			<mat-icon class="horizontal-icon">refresh</mat-icon>
		</ion-fab-button>
		<ion-fab-button routerLink="/">
			<mat-icon class="horizontal-icon">home</mat-icon>
		</ion-fab-button>
		<ion-fab-button (click)="displayDices(); menuLeave();">
			<mat-icon>token</mat-icon>
		</ion-fab-button>
		<ion-fab-button (click)="openColorMenu(); menuLeave();">
			<mat-icon class="horizontal-icon">color_lens</mat-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>