<ion-content [fullscreen]="true">
	<div id="board">
		<div id="boardp1">
			<div class="life" id="life-p1">{{ getPlayer(1).life }}</div>
			<div id="buttons-p1">
				<button mat-fab color="primary" (click)="updateLife(1, -5)">
					<p>-5</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(1, -1)">
					<p>-1</p>
				</button>
				<div class="buttons-spacing"></div>
				<button mat-fab color="primary" (click)="updateLife(1, 1)">
					<p>+1</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(1, 5)">
					<p>+5</p>
				</button>
			</div>
		</div>
		<div id="boardp2">
			<div class="life" id="life-p2">{{ getPlayer(2).life }}</div>
			<div id="buttons-p2">
				<button mat-fab color="primary" (click)="updateLife(2, -5)">
					<p>-5</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(2, -1)">
					<p>-1</p>
				</button>
				<div class="buttons-spacing"></div>
				<button mat-fab color="primary" (click)="updateLife(2, 1)">
					<p>+1</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(2, 5)">
					<p>+5</p>
				</button>
			</div>
		</div>
	</div>

	<app-board-menu [board]="this"></app-board-menu>
</ion-content>