<ion-content [fullscreen]="true">
	<div id="board">
		<div id="boardp1" [ngClass]="getPlayer(1).color">
			<div class="life" id="life-p1">{{ getPlayer(1).life }}</div>
			<div id="buttons-p1">
				<button mat-fab color="primary" (click)="updateLife(1, -5)">
					<p>-5</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(1, -1)">
					<p>-1</p>
				</button>
				<div class="buttons-spacing"></div>
				<button mat-fab color="primary" (click)="updateLife(1, 1)">
					<p>+1</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(1, 5)">
					<p>+5</p>
				</button>
			</div>
		</div>
		<div id="boardp2" [ngClass]="getPlayer(2).color">
			<div class="life" id="life-p2">{{ getPlayer(2).life }}</div>
			<div id="buttons-p2">
				<button mat-fab color="primary" (click)="updateLife(2, -5)">
					<p>-5</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(2, -1)">
					<p>-1</p>
				</button>
				<div class="buttons-spacing"></div>
				<button mat-fab color="primary" (click)="updateLife(2, 1)">
					<p>+1</p>
				</button>
				<button mat-fab color="primary" (click)="updateLife(2, 5)">
					<p>+5</p>
				</button>
			</div>
		</div>
	</div>

	<app-board-menu *ngIf="displayMenu" [board]="this" [type]="'center'"></app-board-menu>
	<app-board-menu-color *ngIf="getPlayer(1).colorPicking" [board]="this" [player]="getPlayer(1)" [top]="25"
		[left]="50" [selectorWidth]="3.5" [manaWidth]="3" [space]="9" [rotate]="180"></app-board-menu-color>
	<app-board-menu-color *ngIf="getPlayer(2).colorPicking" [board]="this" [player]="getPlayer(2)" [top]="75"
		[left]="50" [selectorWidth]="3.5" [manaWidth]="3" [space]="9"></app-board-menu-color>
</ion-content>