<div class="dice-container-{{width}}" [ngStyle]="{
	'top': 'calc(' + top + '%)',
	'left': 'calc(' + left + '%)',
	'transform': 'rotate(' + rotate + 'deg)',
	'color': color
}">
	<div id="dice-{{width}}" #dice (click)="roll()" [ngClass]="rollingClass" data-face="">
		<figure class="face face-1"></figure>
		<figure class="face face-2"></figure>
		<figure class="face face-3"></figure>
		<figure class="face face-4"></figure>
		<figure class="face face-5"></figure>
		<figure class="face face-6"></figure>
		<figure class="face face-7"></figure>
		<figure class="face face-8"></figure>
		<figure class="face face-9"></figure>
		<figure class="face face-10"></figure>
		<figure class="face face-11"></figure>
		<figure class="face face-12"></figure>
		<figure class="face face-13"></figure>
		<figure class="face face-14"></figure>
		<figure class="face face-15"></figure>
		<figure class="face face-16"></figure>
		<figure class="face face-17"></figure>
		<figure class="face face-18"></figure>
		<figure class="face face-19"></figure>
		<figure class="face face-20"></figure>
	</div>
</div>